* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #ccc;
}

#content {
    width: 100%;
    height: 500px;
    background-color: #999;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #666;
}